@charset "utf-8";



body{
	background-color:#193441;
}

header{
	padding: 1em;
	background-color: #3e606f;
	color: #fcfff5;
}

#wrapper {
	width: 80%;
	padding-left: 3em;
	padding-right: 3em;
}


.clrflt{
	clear: both;
	float: none
}
@media (max-width: 64em){
	#wrapper{
		font-size: 70%;
	}

}

@media (max-width: 37.5em){
	#wrapper{
		font-size: 50%;
	}
	#Progress{
		float: left;
	}
	body p
	{
		float:none;
		clear: both;
	}
	body h3
	{
		float: none;
		clear: both;
	}
}



@media (max-width: 24.5em){
	#wrapper{
		font-size: 10%;
	}
	
}
